django>=4.2
djangorestframework
psycopg2-binary
django-cors-headers
djangorestframework-simplejwt
python-dotenv
requests
drf-spectacular
sentry-sdk
pytest-django
pytest-cov
celery
redis
django-ratelimit
google-auth